vaadin-scroller[slot="drawer"] {
  padding: var(--lumo-space-s);
  background-color: rgba(120, 157, 195, 0.35);
}



vaadin-side-nav-item vaadin-icon {
  padding: 0;

}

.login-link {
  background-image: url("/images/Buttonbackground.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 85px;
  height: 37px;
  align-content: center;
  text-align: center;
  font-weight: bold;
}
.login-link:hover {
  text-decoration: none;
}

vaadin-button {
  font-weight: bold;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("/images/Buttonbackground.png");
}

[slot="drawer"]:is(header, footer) {
  display: flex;
  align-items: center;
  gap: var(--lumo-space-s);
  padding: var(--lumo-space-s) var(--lumo-space-m);
  min-height: var(--lumo-size-xl);
  box-sizing: border-box;
  background-color: rgba(120, 157, 195, 0.35);


}

[slot="drawer"]:is(header, footer):is(:empty) {
  display: none;

}
